@charset "UTF-8";
/* CSS Document */
/* Author: Omar Adam Husain */
/* Purpose: Custom CSS for OMAR.CLOUD elements */

*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: black;
    height: 100vh;
}

/*body::after {
    position: absolute;
    background-color: black;
    content: "";
    width: 100%;
    height: 30%;
    z-index: -1;
}*/

.background {
    background-color: black;
    height: 100vh;
}

.center-div {

    text-align: center;
    max-width: 540px !important; 
}

hr {
    display:inline-block;
    text-align: center;
    width: 260px;
    background-color: white !important;
    opacity: 1 !important;
}

/* Profile elements */

.profile-pic {
    max-height: 150px;
    border-radius: 200px;
    margin: 25px;
    box-shadow: 1px 1px 20px 0px #FFFFFF;
}

.banner-box {
    margin-bottom: 10px;
}

.banner-title {
    margin: 20px;
    font-size: 25px;
    color: White;
}

.banner-headline {
    margin: 20px;
    font-size: 17px;
    color: White;
    text-shadow: 1px 1px 5px #000000;
}

/* Link elements */

.link-btn-div {
    display: inline-block;
    vertical-align:middle;
}

.link-img-div {
    text-align: left;
}

.link-text-div {
    text-align: center;
}

.link-img{
    max-height: 40px;
    margin-right: 10px;
    filter: grayscale(100%);
}

.link {
    margin: 20px;
    
}

.link-title {
    font-size: 18px;
    color: White;
}

.link a {
    background-color: rgb(34, 34, 34);
    color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 14px;
    width: 240px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    
}

.link a:hover {
    color: white;
    background-color: black;
    
    filter: invert(1);
    width: 260px;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

/* Socials elements */

.socials {
    width: 260px;
}

.social {
    
    width:20px;
}

.social a {
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 60px;
    display: inline-block;
    padding: .375rem .375rem ;    
}
.social a:hover {
    color: white;
    background-color: black;
    
    filter: invert(1);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

